.rose {
  font-family: "Roslindale", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
}
.vector-container {
  max-width: 1440px;
  padding: 0px 70px;
  margin: 0px auto;
}

/* nav section */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  background: #fafafa;
}

.nav-svg {
  padding: 18px 12px;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 6px;
  flex-direction: column;
}

.nav-end {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 24px;
}
/* hero section */

.hero {
  padding-top: 53px;
  position: relative;
  background: #fafafa;
  overflow: hidden;
}

.hero-title {
  color: #303635;
  text-align: center;
  font-family: "Roslindale", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.hero-title-span {
  display: block;
}
.hero-dsc-span {
  display: block;
}

.hero-description {
  color: #5f6060;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 40px;
}

.hero-image-container {
  display: flex;
  gap: 81px;
  position: relative;
  margin-top: 3.25rem;
}

.big-svg {
  position: absolute;
  top: 13%;
}
.middle-image-div {
  transform: translateY(14%);
}

.hero-vector {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -19.5%;
  width: 100%;
}

.vector-img {
  width: 38%;
  animation: spin 10s linear infinite;
}

.hero-img-title {
  color: var(--TextColor-1, #303635);
  font-family: Roslindale;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 145% */
}

.hero-img-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 55px;
}

.svg-hero-img {
  padding: 5.6px;
  border: var(--TextColor-1, #303635) solid 1px;
  border-radius: 9999px;
}
.hero-img-title > span {
  display: block;
}

.hero-right-img-title {
  color: var(--TextColor-1, #303635);
  font-family: Roslindale;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.hero-right-img-title > span {
  display: block;
}

.slider-conatiner {
    background: #fff;
    border-bottom: 1px solid #6d7373;
}

.slider {
  animation: slide 20s linear infinite;
  padding: 24px 0px;
  display: flex;
  gap: 12px;
  
}

.slider-element {
  display: flex;
  align-items: center;
  gap: 12px;
}

.slider-element-title {
  color: #6d7373;
  font-family: Roslindale;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  flex-grow: 1;
}

/* image slider  collection */



.image-slider {
  margin: 116px auto 143px auto;
  display: flex;
  position: relative;
  gap: 24px;
}

.image-slider-title {
  color: #fff;
  font-family: Roslindale;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.image-slider-element {
  position: relative;
}
.image-slider-element > img {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(70, 77, 77, 0.54) 47.86%,
    rgba(59, 66, 66, 0.77) 76.68%,
    #000909 120.11%
  );
}

.middle-button {
  position: absolute;
  top: 35%;
  left: 45%;
  background: var(--White, #f4f5f5);

  border-radius: 99999px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding:  54px 20px;
}
.middle-button-text {
    color: var(--TextColor-1, #303635);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
}
.middle-button >button {
    background: none;
    border: none;
}

/* popular collection */

.popular-collection {
    margin-bottom: 144px;
}


.popular-collection-title {
    color: #303635;
text-align: center;
font-family: Roslindale;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
margin-bottom: 48px;
}

.collection-holder {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.collection-container {
    display: flex;
    gap: 80px;
    border-bottom: 1px solid #CFCFCF;
}
.collection-title {
    color: #00494A;
text-align: center;
font-family: Roslindale;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
padding: 0px 5px;
}
.active {
    border-bottom: 1px solid #00494A;
}
.collection-card-conatiner {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    row-gap: 48px;
    margin-bottom: 48px;
}
.card-title {
    color: var(--TextColor-1, #303635);
font-family: Roslindale;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 29px; /* 145% */
margin-top: 20px;
margin-bottom: 14px;
}

.collection-all {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.collection-all >p {
    color: #00494A;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
text-decoration-line: underline;
}

/* why section */
.why-us {
    background: #FAFAFA;
    padding-top:120px;
    padding-bottom:120px;
}
.why-title {
    color: #303635;
text-align: center;
font-family: Roslindale;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 130%; 
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
