/* *,
::after,
::before {
  border: 1px solid red;
} */
body {
  font-family: "Roslindale", sans-serif;
  overflow-x: hidden;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.inter {
  font-family: Inter;
}
.relative {
  position: relative;
}
.z-index-100 {
  z-index: 100;
}
.hidden {
  display: none;
}
* {
  margin: 0px;
  padding: 0px;
}
img {
  width: 100%;
}
.vector-container {
  max-width: 1300px;
  margin: 0px auto;
}
.inherit-width {
  width: fit-content;
}
.absolute {
  position: absolute;
}
.primary-bg {
  background: #fafafa;
}
.secondary-bg {
  background: #02494b;
}
.transparent {
  background-color: transparent;
}
/* nav section */
.nav {
  justify-content: space-between;
  padding-top: 24px;
}
.nav-svg {
  padding: 18px 12px;
  justify-items: center;
  gap: 6px;
}
.nav-end {
  justify-items: center;
  gap: 24px;
}
/* hero section */

.hero {
  padding-top: 53px;
  overflow: hidden;
}

.hero-title {
  color: #303635;
  font-size: 64px;
  font-weight: 500;
  line-height: 130%;
}
.hero-description {
  color: #5f6060;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  margin-top: 40px;
}
.hero-image-container {
  gap: 81px;
  margin-top: 3.25rem;
}
.big-svg {
  position: absolute;
  top: 10%;
}
.svg-holder {
  max-width: 1440px;
  margin: 0px auto;
}
.middle-image-div {
  transform: translateY(14%);
}
.hero-vector {
  top: -19.5%;
  width: 100%;
}
.vector-img {
  width: 38%;
  animation: spin 10s linear infinite;
}

.hero-img-title {
  color: var(--TextColor-1, #303635);
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
}
.hero-img-title-container {
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 56px;
}
.svg-hero-img {
  padding: 5.6px;
  border: var(--TextColor-1, #303635) solid 1px;
  border-radius: 9999px;
}
.hero-right-img-title {
  color: var(--TextColor-1, #303635);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.slider-conatiner {
  background: #fff;
  border-bottom: 1px solid #6d7373;
}
.slider {
  animation: slide 20s linear infinite;
  padding: 24px 0px;
  gap: 12px;
}
.slider-element {
  gap: 12px;
  white-space: nowrap;
}
.slider-element-title {
  color: #6d7373;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  flex-grow: 1;
}
/* image slider  collection */
.image-slider {
  margin: 116px auto 143px auto;
}
.image-slider-container {
  overflow-x: scroll;
  gap: 24px;
}
.image-slider-container::-webkit-scrollbar {
  display: none;
}
.image-slider-portions {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 24px;
  flex: none;
}
.image-slider-title {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  position: absolute;
  bottom: 16px;
  left: 16px;
}
.image-slider-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(30, 30, 30, 0.7) 47.86%,
    rgba(20, 20, 20, 0.85) 76.68%,
    #000000 120.11%
  );
}

.middle-button {
  position: absolute;
  top: 35%;
  left: 45%;
  background: var(--White, #f4f5f5);
  border-radius: 99999px;
  gap: 5px;
  padding: 54px 20px;
}
.middle-button-container {
  width: 100%;
  top: 30%;
}
.middle-button-text {
  color: var(--TextColor-1, #303635);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.middle-button-design {
  background: none;
  border: none;
}

/* popular collection */

.popular-collection {
  margin-bottom: 144px;
}

.popular-collection-title {
  color: #303635;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 48px;
}
.collection-holder {
  margin-bottom: 48px;
}
.collection-container {
  gap: 80px;
  border-bottom: 1px solid #cfcfcf;
}
.collection-title {
  color: #00494a;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  padding: 0px 5px;
  border: none;
  background: none;
  cursor: pointer;
}
.collection-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.active::after {
  background: #00494a;
}

.collection-card-conatiner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  row-gap: 48px;
  margin-bottom: 48px;
}
.card-title {
  color: var(--TextColor-1, #303635);
  font-size: 20px;
  font-weight: 700;
  line-height: 29px; /* 145% */
  margin-top: 20px;
  margin-bottom: 14px;
}
.top-0 {
  top: 0px;
}
.collection-all {
  gap: 10px;
}
.collection-all-p {
  color: #00494a;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-decoration-line: underline;
  border: none;
}
/* future section css starts */
.future-section {
  padding: 150px 0px;
  gap: 54px;
}
.future-section-left {
  justify-content: space-between;
  width: 100%;
  gap: 95px;
}
.future-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 32px;
}
.future-dsc {
  color: #f7f8f7;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 24px;
}
.read-more {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-decoration-line: underline;
  padding-right: 8px;
}
.future-counter {
  background: #f7f8f7;
  padding: 48px 56px;
}
.counter-title {
  color: #00494a;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px; /* 166.667% */
  margin-bottom: 24px;
}
.counter-number {
  color: #00494a;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
}
.future-section-right {
  background-repeat: no-repeat;
  background-image: url("../image/future-img.png");
  width: 100%;
  background-size: cover;
  margin-bottom: 2px;
}
.future-wave-svg {
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.green-line {
  width: 25px;
  height: 101%;
  background: #00494a;
  bottom: -1px;
  right: 39%;
}
.green-box {
  width: 43%;
  height: 14%;
  background: #00494a;
  top: -1px;
  right: 0px;
}
.future-logo {
  right: 6.5%;
  top: -100px;
  animation: spin 10s linear infinite;
}

/* why section */
.why-us {
  padding-top: 120px;
  padding-bottom: 120px;
}
.why-title {
  color: #303635;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 88px;
}
.why-container {
  gap: 125px;
}
.why-element {
  gap: 40px;
}
.why-container-title {
  color: var(--TextColor-1, #303635);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.why-container-dsc {
  color: var(--ParagraphColor-1, #495050);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 14px;
}
/* why image css ends */

/* instant quote */
.instant-qoute {
  background: #00494a;
  margin-top: 109px;
  margin-bottom: 104px;
  padding: 99px 0px;
}
.instant-qoute-title {
  color: var(--White, #f4f5f5);
  font-size: 56px;
  font-weight: 600;
  line-height: 130%;
}
.instant-qoute-dsc {
  color: #f7f8f7;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 56px;
}
.quote-button-container {
  gap: 40px;
}
.button-see-all {
  text-decoration: none;
  padding: 12px 24px;
  background: none;
  border: white 1px solid;
  color: white;
}
.button-talk {
  text-decoration: none;
  border: none;
  padding: 12px 36px;
}
.star-svg {
  right: 8%;
  animation: pulse 1s ease-in-out infinite;
}
.duo-star-svg {
  top: 12%;
  left: 5%;
  animation: pulse 1s ease-in-out infinite;
}
.instant-quote-big-svg {
  bottom: 0px;
}
/* footer */
.footer {
  padding-top: 68px;
  padding-bottom: 39px;
}
.footer-left {
  gap: 52px;
}
.footer-left-first {
  gap: 28px;
}
.footer-top {
  justify-content: space-between;
  gap: 186px;
  padding-bottom: 56px;
  border-bottom: 1px solid var(--TextColor-3, #9c9e9e);
}
.footer-text {
  color: var(--TextColor-2, #5a5e5e);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 363.243px;
}
.footer-svg {
  gap: 24px;
}

.footer-link {
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: 16px;
  width: max-content;
}
.footer-top-left {
  gap: 136px;
}
.footer-middle {
  gap: 128px;
}

.footer-end {
  gap: 40px;
}
.footer-end-title {
  color: #303635;
  font-size: 32px;
  font-weight: 500;
  line-height: 46px;
}
.footer-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  padding: 12px 36px;
  gap: 10px;
  background: #00494a;
  border: none;
}
.block-span {
  display: block;
}
.footer-bottom {
  margin-top: 16px;
  justify-content: space-between;
}
.footer-bottom-text {
  font-size: 16px;
  width: inherit;
}
.footer-bottom-gap {
  gap: 76px;
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* *,
  ::after,
  ::before {
    border: 1px solid red;
  } */
  .vector-container {
    max-width: 90%;
    margin: 0px auto;
  }
  .nav-end {
    gap: 6px;
  }
  .hero-title {
    font-size: 22px;
  }
  .svg-holder {
    display: none;
  }
  .hero-description {
    font-size: 11px;
    margin-top: 16px;
    margin-bottom: 08px;
  }
  .hero-image-container {
    gap: 48px;
    flex-direction: column;
  }
  .middle-image-div {
    transform: translateY(0%);
  }
  .hero-vector {
    top: 28.5%;
  }
  .middle-button {
    left: 28%;
    padding: 50px 10px;
  }
  .collection-container {
    gap: 5px;
  }
  .popular-collection-title {
    font-size: 30px;
  }
  .collection-card-conatiner {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
  }
  .future-section {
    flex-direction: column-reverse;
    padding: 75px 0px;
  }
  .future-title {
    font-size: 30px;
  }
  .future-dsc {
    line-height: 20px;
    font-size: 15px;
  }
  .future-section-left {
    gap: 52px;
  }
  .future-counter {
    padding: 16px 8px;
  }
  .future-section-right {
    height: 400px;
  }
  .green-box {
    width: 43%;
    right: -1px;
  }
  .future-logo {
    right: 2.5%;
    top: -13%;
    width: 30%;
  }
  .collection-all {
    margin-bottom: 48px;
  }
  .why-container {
    gap: 24px;
    flex-direction: column;
  }
  .instant-quote-big-svg {
    display: none;
  }
  .instant-qoute-title {
    font-size: 24px;
  }
  .instant-qoute-dsc {
    font-size: 14px;
    line-height: 20px;
  }
  .quote-button-container {
    gap: 0px;
    flex-direction: column;
  }
  .resposive-width {
    width: 90%;
    margin-bottom: 24px;
  }
  .why-title {
    font-size: 30px;
    margin-bottom: 44px;
  }
  .why-us {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .resposive-why-img-width {
    width: 30%;
  }
  .footer-top {
    flex-direction: column;
    gap: 48px;
  }
  .footer-top-left {
    flex-direction: column;
    gap: 48px;
  }
  .footer-text {
    width: 100%;
  }
  .footer-middle {
    gap: 96px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 24px;
  }
  .footer-bottom-gap {
    gap: 0px;
  }
  .hero-img-title-container {
    padding-bottom: 24px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  /* *,
  ::after,
  ::before {
    border: 1px solid red;
  } */
  .vector-container {
    max-width: 90%;
    margin: 0px auto;
  }
  .nav-end {
    gap: 6px;
  }
  .hero-title {
    font-size: 42px;
  }
  .svg-holder {
    display: none;
  }
  .hero-description {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 08px;
  }
  .hero-image-container {
    gap: 48px;
    flex-direction: column;
  }
  .middle-image-div {
    transform: translateY(0%);
  }
  .hero-vector {
    top: 28.5%;
  }
  .middle-button {
    left: 43%;
    padding: 50px 10px;
  }
  .collection-container {
    gap: 24px;
  }
  .popular-collection-title {
    font-size: 42px;
  }
  .collection-card-conatiner {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
  }
  .future-section {
    flex-direction: column-reverse;
    padding: 96px 0px;
  }
  .future-title {
    font-size: 42px;
  }
  .future-dsc {
    line-height: 20px;
    font-size: 15px;
  }
  .future-section-left {
    gap: 52px;
  }
  .future-section-right {
    height: 580px;
  }
  .green-box {
    width: 43%;
    right: -1px;
  }
  .future-logo {
    right: 2.5%;
    top: -12%;
    width: 30%;
  }
  .collection-all {
    margin-bottom: 48px;
  }
  .why-container {
    gap: 24px;
    flex-direction: column;
  }
  .instant-quote-big-svg {
    display: none;
  }
  .instant-qoute-title {
    font-size: 42px;
  }
  .instant-qoute-dsc {
    font-size: 14px;
    line-height: 20px;
  }
  .quote-button-container {
    gap: 0px;
    flex-direction: column;
  }
  .resposive-width {
    width: 60%;
    margin-bottom: 24px;
  }
  .why-title {
    font-size: 42px;
    margin-bottom: 44px;
  }
  .why-us {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .resposive-why-img-width {
    width: 20%;
  }
  .footer-top {
    flex-direction: column;
    gap: 48px;
  }
  .footer-top-left {
    flex-direction: column;
    gap: 48px;
  }
  .footer-text {
    width: 100%;
  }
  .footer-middle {
    gap: 96px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 24px;
  }
  .footer-bottom-gap {
    gap: 0px;
  }
  .hero-img-title-container {
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* *,
  ::after,
  ::before {
    border: 1px solid red;
  } */
  .vector-container {
    max-width: 90%;
    margin: 0px auto;
  }
  .nav-end {
    gap: 6px;
  }
  .hero-title {
    font-size: 42px;
  }
  .svg-holder {
    display: none;
  }
  .hero-description {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 08px;
  }
  .hero-image-container {
    gap: 48px;
    flex-direction: column;
  }
  .middle-image-div {
    transform: translateY(0%);
  }
  .hero-vector {
    top: 28.5%;
  }
  .middle-button {
    left: 43%;
    padding: 50px 10px;
  }
  .collection-container {
    gap: 24px;
  }
  .popular-collection-title {
    font-size: 42px;
  }
  .collection-card-conatiner {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
  }
  .future-section {
    flex-direction: column-reverse;
    padding: 96px 0px;
  }
  .future-title {
    font-size: 42px;
  }
  .future-dsc {
    line-height: 20px;
    font-size: 15px;
  }
  .future-section-left {
    gap: 52px;
  }
  .future-section-right {
    height: 580px;
  }
  .green-box {
    width: 43%;
    right: -1px;
  }
  .future-logo {
    right: 2.5%;
    top: -12%;
    width: 30%;
  }
  .collection-all {
    margin-bottom: 48px;
  }
  .why-container {
    gap: 24px;
    flex-direction: column;
  }
  .instant-quote-big-svg {
    display: none;
  }
  .instant-qoute-title {
    font-size: 42px;
  }
  .instant-qoute-dsc {
    font-size: 14px;
    line-height: 20px;
  }
  .quote-button-container {
    gap: 0px;
    flex-direction: column;
  }
  .resposive-width {
    width: 60%;
    margin-bottom: 24px;
  }
  .why-title {
    font-size: 42px;
    margin-bottom: 44px;
  }
  .why-us {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .resposive-why-img-width {
    width: 20%;
  }
  .footer-top {
    flex-direction: column;
    gap: 48px;
  }
  .footer-top-left {
    flex-direction: column;
    gap: 48px;
  }
  .footer-text {
    width: 100%;
  }
  .footer-middle {
    gap: 96px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 24px;
  }
  .footer-bottom-gap {
    gap: 0px;
  }
  .hero-img-title-container {
    padding-bottom: 24px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .vector-container {
    max-width: 90%;
    margin: 0px auto;
  }
  .svg-holder {
    width: fit-content;
  }
  .big-svg {
    top: 15%;
    left: 0px;
    width: 100%;
  }
  .hero-image-container {
    padding-top: 52px;
  }
  .future-wave-svg {
    width: 100%;
  }
  .future-logo {
    right: 0.5%;
  }
  .future-title {
    font-size: 48px;
  }
  .instant-quote-big-svg {
    width: 100%;
  }
  .footer-top-left {
    gap: 48px;
  }
  .footer-middle {
    gap: 36px;
  }
  .footer-top {
    gap: 48px;
  }
  .footer-end-title {
    font-size: 23px;
    line-height: 36px;
  }
  .collection-all {
    margin-bottom: 48px;
  }
  .button-talk {
    padding: 13px 36px;
  }
}
